//
   Created by danilaeremin on 25.02.16.

// Warper Ends Here (working area)
footer.container-fluid.footer
    a(href='http://QuestControllers.com/', target='_blank') QuestControllers
    | &nbsp;©&nbsp;2016
    a.pull-right.scrollToTop(href='#')
        i.fa.fa-chevron-up